/* #root {
  max-width: 1280px;
}
*/

.orbitron {
  font-family: "Orbitron", sans-serif;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #123;
  color: white;
} */


/* header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #123;
  color: white;
  padding: 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header img {
  width: 100px;
}

#breaking-news {
  background: #1b1b1b;
  border-radius: 0.5em;
  padding: 1em;
  margin: 1em;

}

#article-container {
  display: grid;
  /* grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* padding: 10px; */
  /* gap: 2em; */
  /* margin: auto; */
/* } */
/* 
.article-card {
  background: #1b1b1b;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}   */
